.controls{
    display: flex;
    justify-content: left;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.controls-table{
    width: 100%;
}

.controls-btn{
    width: 100%;
    height: 50px;
    margin: 0;
}